{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-masthead lbs-page-header">
  <div class="app-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl app-masthead__title">Design your service using London Borough of Sutton and GOV.UK styles, components and&nbsp;patterns</h1>
        <p class="govuk-colour-white">Use this design system to make your service consistent with sutton.gov.uk. Learn from the research and experience of other LBS and GOV.UK service teams and avoid repeating work that’s already been done.</p>

        {{ govukButton({
          "text": "Get started",
          "href": "/get-started/",
          "classes": "lbs-button lbs-button--tertiary govuk-!-margin-top-6 govuk-!-margin-bottom-0",
          "isStartButton": 'true'
        }) }}
      </div>

      <div class="govuk-grid-column-one-third-from-desktop">
        <img class="app-masthead__image" src="/images/homepage-illustration.svg" alt="" role="presentation">
      </div>
    </div>
  </div>
</div>
