{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-whats-new">
  <div class="app-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 id="whats-new" class="govuk-heading-l">What’s new</h2>
        <p class="govuk-body">17 February 2022: We’re currently on LBS Frontend v2.1.0 and GOV.UK Frontend v4.0.1.</p>
        <p class="govuk-body"><a href="https://github.com/LondonBoroughSutton/lbs-frontend" class="govuk-link">London Borough of Sutton Frontend repository</a>.</p>
        <p class="govuk-body"><a href="https://github.com/alphagov/govuk-frontend/releases/tag/v4.0.1" class="govuk-link">GOVUK Frontend release notes</a>.</p>
      </div>
    </div>
    </div>
  </div>
</div>
