---
title: Page Header
layout: layout-example.njk
---

{% from "LBS/components/page-header/macro.njk" import lbsPageHeader %}

{{ lbsPageHeader({
  "heading": "Test page example",
  "breadCrumbItems": [
    {
      "text": "Home",
      "href": "#"
    },
    {
      "text": "Example",
      "href": "#"
    }
  ]
}) }}
