---
title: Headings – Decorative
layout: layout-example.njk
---

<h1 class="govuk-heading-l lbs-heading--decorative">govuk-heading-l</h1>
<h2 class="govuk-heading-m lbs-heading--decorative">govuk-heading-m</h2>
<h3 class="govuk-heading-s lbs-heading--decorative">govuk-heading-s</h3>
