---
title: Page Header
description: Use the page header to display page titles, descriptions and breadcrumbs.
section: Components
aliases: alpha banner, beta banner, prototype banner, status banner, feedback banner
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

Use the page header component at the top of standard pages to display the page title, breadcrumbs and description if necessary.

{{ example({group: "components", item: "page-header", example: "default", html: true, nunjucks: true, open: false}) }}

## When to use this component

This component should be used on most pages.

## How it works

The page header component reinforces the information architecture of the site by displaying the breadcrumb and the page title.

Variants of the page header include use of a description, a feature image and video.

There are 2 ways to use the phase banner component. You can use HTML or, if you are using [Nunjucks](https://mozilla.github.io/nunjucks/) or the [LBS Prototype Kit](https://lbs-prototypes.herokuapp.com), you can use the Nunjucks macro.

{{ example({group: "components", item: "page-header", example: "default", html: true, nunjucks: true, open: false, titleSuffix: "second"}) }}


### Add a description

Descriptions or a summary of the page have proved useful in user research sessions, they should be brief but informative.

{{ example({group: "components", item: "page-header", example: "with-description", html: true, nunjucks: true, open: false}) }}

### Add a featured image

Featured images are currently used sparingly for example on campaign pages and news items. Images can be used to add a decorative feature to the page header but should not contain meaningful information or text.

{{ example({group: "components", item: "page-header", example: "with-image", html: true, nunjucks: true, open: false}) }}

### Add a featured video

Featured videos are currently used sparingly for example on campaign pages. More user research is required for this variation.

{{ example({group: "components", item: "page-header", example: "with-video", html: true, nunjucks: true, open: false}) }}
