---
title: Footer
description: The footer provides copyright, licensing and other information about your service and department
section: Components
aliases:
backlog_issue_id: 96
layout: layout-pane.njk
---

{% from "_example.njk" import example %}

The footer provides copyright, licensing and other information about your service and department.

{{ example({group: "components", item: "footer", example: "default", id: "default-1", html: true, nunjucks: true, open: false, size: "m"}) }}

## When to use this component

Use the footer at the bottom of every page of your service.

## How it works

You can add links to:
- other language options
- terms and conditions
- privacy policy

### Default footer

{{ example({group: "components", item: "footer", example: "default", titleSuffix: "second", html: true, nunjucks: true, open: false, size: "m"}) }}

### Footer with page feedback

{{ example({group: "components", item: "footer", example: "feedback", titleSuffix: "second", html: true, nunjucks: true, open: false, size: "m"}) }}