---
title: Secondary button combo
layout: layout-example.njk
---
{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Save and continue",
    classes: "lbs-button"
  }) }}

  {{ govukButton({
    text: "Save as draft",
    classes: "lbs-button lbs-button--secondary"
  }) }}
</div>
